{% extends 'base.html' %}
{% block title %}Inicio – API Restaurante{% endblock %}
{% block content %}
  <div class="menu-grid">
    <a href="{{ url_for('home_usuarios') }}" class="menu-grid__btn">Usuario</a>
    <a href="{{ url_for('home_restaurantes') }}" class="menu-grid__btn">Restaurante</a>
    <a href="{{ url_for('home_menu') }}" class="menu-grid__btn">Menú</a>
    <a href="{{ url_for('home_pedidos') }}" class="menu-grid__btn">Pedidos</a>
    <a href="{{ url_for('home_resenas') }}" class="menu-grid__btn">Reseñas</a>
  </div>
{% endblock %}

