{% extends 'base.html' %}
{% block title %}Consultas a documentos Reseñas – API Restaurante{% endblock %}
{% block content %}
  <h2 class="section-title">Consulta a documentos reseñas</h2>
  <div class="menu-grid">
    <a href="{{ url_for('filtro_reseñas') }}" class="menu-grid__btn">Filtro</a>
    <a href="{{ url_for('proyeccion_reseñas') }}" class="menu-grid__btn">Proyeccion</a>
    <a href="{{ url_for('ordenamiento_reseñas') }}" class="menu-grid__btn">Ordenamiento</a>
    <a href="{{ url_for('limit_reseñas') }}" class="menu-grid__btn">Limit</a>
    <a href="{{ url_for('skip_reseñas') }}" class="menu-grid__btn">Skip</a>
  </div>
{% endblock %}