{% extends 'base.html' %}
{% block title %}Consultas por agregación simples Restaurantes – API Restaurante{% endblock %}
{% block content %}
  <h2 class="section-title">Consulta por agregación simples restaurantes</h2>
  <div class="menu-grid">
    <a href="{{ url_for('match_restaurante') }}" class="menu-grid__btn">Match</a>
    <a href="{{ url_for('group_restaurante') }}" class="menu-grid__btn">Group</a>
    <a href="{{ url_for('count_restaurante') }}" class="menu-grid__btn">Count</a>
    <a href="{{ url_for('distinct_restaurante') }}" class="menu-grid__btn">Distinct</a>
  </div>
{% endblock %}