{% extends 'base.html' %}
{% block title %}Consultas por agregación simples Restaurantes – API Restaurante{% endblock %}
{% block content %}
  <h2 class="section-title">Consulta por agregación restaurantes</h2>
  <div class="menu-grid">
    <a href="{{ url_for('agregacion_simple_restaurantes') }}" class="menu-grid__btn">Simple</a>
    <a href="{{ url_for('pipeline_restaurantes') }}" class="menu-grid__btn">Agreggation Pipeline</a>
    <a href="{{ url_for('agregacion_arrays_restaurantes') }}" class="menu-grid__btn">Manejo de Arrays</a>
    <a href="{{ url_for('agregacion_embedded_restaurantes') }}" class="menu-grid__btn">Manejo de Embeddeds</a>
  </div>
{% endblock %}